
<!DOCTYPE html>
<html> 
<head>
	<style type="text/css">
		body {
			background: #e5e7ee;
		}

		h1 {
			text-align: center;
		}

		fieldset {
			text-align: center;
		}

		legend {
			text-align: center;
		}

		.space {
			height: 150px;
		}




	</style>
	<title>Find By Price</title>
</head>
<body>
	<div class="space">

	</div>
	<h1>Specify a price range</h1>
	<form action="price" method="post">
		<fieldset>
			<legend>Text input</legend>
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Submit">
		</fieldset>
	</form>
</body>
</html>
